{% load widget_tweaks %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}
    <div class="">
        <form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content ">
            <div class="modal-header bg-primary {% if fabricante %} {% else %} bg-secondary{% endif %} bg-gradient">
                <h5 class="modal-title">Frabricante</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-secondary rounded h-100 p-4">

                <div class="mb-3">
                    <label for="{{ form.nome.id_for_label }}" class="form-label">Nome</label>
                    {% render_field form.nome class="form-control" placeholder="Nome" %}
                    <div class="invalid-feedback">{{ form.nome.errors|first }}</div>
                </div>
            </div>
            <div class="modal-footer bg-secondary rounded h-100 p-4">
                {% if obj_model %}
                    <button type="button" class="btn btn-danger" hx-post="{% url 'produtos:fabricante_remove' pk=obj_model.pk %}">Excluir</button>
                    <span class="flex-grow-1"></span>
                {% endif %}
                <button type="button" class="btn btn-info" data-dismiss="modal">
                    Cancelar
                </button>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
{% endwith %}