{% load widget_tweaks %}
<form method="post" action="">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Novo Produto</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="row">

            <div class="col-sm-4">
                <div class="form-group">
                    <label>{{ form.codigo.label }}</label>
                    {% render_field form.codigo class="form-control" placeholder="Codigo"  %}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>{{ form.nome.label }}</label>
                    {% render_field form.nome class="form-control" placeholder="Nome"  %}
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label>{{ form.categoria.label }}</label>
                    {% render_field form.categoria class="form-control select2bs4" placeholder="Categoria"  %}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>{{ form.fornecedor.label }}</label>
                    {% render_field form.fornecedor class="form-control select2bs4" placeholder="Fornecedor"  %}
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label>{{ form.fabricante.label }}</label>
                    {% render_field form.fabricante class="form-control select2bs4" placeholder="Fornecedor"  %}
                </div>
            </div>

             <div class="col-sm-4">
                <div class="form-group">
                    <label>{{ form.link_produto.label }}</label>
                    {% render_field form.link_produto class="form-control" placeholder="Link"  %}
                </div>
            </div>
             <div class="col-sm-4">
                <div class="form-group">
                    <label>{{ form.preco_compra.label }}</label>
                    {% render_field form.preco_compra class="form-control" %}
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>

<script>

    $(document).ready(function(){
        var masks = ['000.000.000-00', '00.000.000/0000-00'];
        var docInitial = $("#id_tipo").val()
        $('#id_telefone').mask('(00) 00000-0000');
        if (docInitial === "CPF"){
            $('#id_documento').mask(masks[0], {reverse: true});
        } else {
            $('#id_documento').mask(masks[1], {reverse: true});
        }
        $("#id_tipo").change(function(){
            var doc = $("#id_tipo").val()
            if (doc === "CPF"){
                $('#id_documento').mask(masks[0]);
            }else if (doc === "CNPJ") {
                $('#id_documento').mask(masks[1]);
            }

        });

    })
</script>

<script>
    $(function () {
        $('.select2').select2()

        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })
    })
</script>

